DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=rhythmic
POSTGRES_USER=rhythmic
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=8081
PGADMIN_DEFAULT_EMAIL=