{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/coming_soon.css') }}">

{% endblock %}

{% block body %}
<div class="bgimg">
    <div class="topleft">
      <p>Rhytmic Exam</p>
    </div>
    <div class="middle">
      <h1>GET READY</h1>
      <hr style="margin:auto;width:40%">
      <p id="countdown" style="font-size:30px"></p>
    </div>
    <div class="bottomleft">
      <form action="{{ url_for('auth.register') }}">
          <input type="submit" value="Registration" class="btn btn-primary">
      </form>
    </div>
  </div>

  {% block scripts %}
    <script src="{{ url_for('static', filename='js/coming_soon.js') }}"></script>
  {% endblock %}
{% endblock %}