{% extends "base.html" %}
{% block app_content %}
    <h1><small> Welcome {{ current_user.username[0]|upper }}{{ current_user.username[1:] }}</small></h1>
    {% if current_user.is_admin %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ url_for('main.theory_exam') }}">Theory Exam</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('main.practical_exam') }}">Practical Exam</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('main.add_question') }}">Add exam question</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('main.edit_questions') }}">Edit exam question</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('main.user_admin') }}">Update users</a>
            </li>
            <li class="list-group-item">
                <a href="{{ url_for('main.results') }}">Results</a>
            </li>
        </ul>
    {% else %}
        <div class=row-fluid>
            <table class="table table-striped">
                <tr>
                    <th>Exam name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Theory Exam</td>
                    <td>
                        {% if exam_result %}
                            {% if exam_result.theory_taken %}
                                <span class="label label-success">Completed</span>
                            {% else %}
                                <span class="label label-primary">Not Complete</span>
                            {% endif %}
                        {% else %}
                            <span class="label label-info">Not Taken Yet</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if exam_result %}
                        {# There is a record for this user #}
                            {% if exam_result.theory_answer is not none %}
                                {#The user has already taken the exam #}
                                <a class="btn btn-outline-primary disabled" href="{{ url_for('main.theory_exam') }}">Take Theory Exam</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ url_for('main.theory_exam') }}">Take Theory Exam</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-primary" href="{{ url_for('main.theory_exam') }}">Take Theory Exam</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Practical Exam</td>
                    <td> 
                        {% if exam_result %}
                            {% if exam_result.practical_taken %}
                                <span class="label label-success">Completed</span>
                            {% else %}
                                <span class="label label-primary">Not Completed</span>
                            {% endif %}
                        {% else %}
                            <span class="label label-info">Not Taken Yet</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if exam_result %}
                            {% if exam_result.practical_taken %}
                                {#The user has already taken the exam #}
                                <a class="btn btn-outline-primary disabled" href="{{ url_for('main.practical_exam') }}">Take Practical Exam</a>
                            {% else %}
                                <a class="btn btn-primary" href="{{ url_for('main.practical_exam') }}">Take Practical Exam</a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-primary" href="{{ url_for('main.practical_exam') }}">Take Practical Exam</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            {% if exam_result.practical_taken and exam_result.theory_taken %}
                <div class="row">
                    <h3 class="bg-success text-center">You have completed your National Rhytmic Exam.<br>
                    You will be notifed soon about yout results</h3>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="container-fluid">
            <p class="lead">
                <h2>Exam Rules <p><small>Please ensure you follow these rules when taking the exam</small></p></h2>
                
                <dl>
                    <dt>
                        Theory Exam
                        <dd>- Do not reload the page.</dd>
                        <dd>- Do not use the back button of the browser.</dd>
                        <dd>- You will not have an option to go back into the exam. Ensure you answer <strong>all</strong> the questions.</dd>
                        <dd>- Only use the "Submit" button on the page.</dd>
                    </dt>
                    <dt>
                        Practical Exam
                        <dd>- Do not reload the page. You will be forwarded to the next quesiton with no chance to go back.</dd>
                        <dd>- Do not use the back button of the browser.</dd>
                        <dd>- You cannot pause or reload the video. Make sure you are ready when you play the video.</dd>
                        <dd>- Only use the "Submit" button on the page.</dd>
                    </dt>
                </dl>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block app_scripts %}
    <script>
        setTimeout(function() {
            $("div[name='flash_message']").slideUp("slow");
        }, 10000);
    </script>
{% endblock %}