{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron">
        <div class="container">
        <h1>Online Exam</h1>
        <p>Welcome to the National Rhytmic Exam 2019</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('main.dashboard') }}" role="button">Get Started &raquo;</a></p>
        </div>
    </div>
    {% if user_agent in ["android", "ios"] %}
        <div class="row-fluid">
            <span class="bg-warning"><strong>Attemping the exam from a celular phones is not advisable</strong></span>
        </div>
    {% endif %}
{% endblock %}

{% block app_scripts %}{% endblock %}