{% extends "base.html" %}

{% block app_content %}

    <h1>Dificulty</h1>
    <div class="row" id="video_row">
        <video oncontextmenu="return false;" id="video" width="80%" height="auto">
            <source src={{ video }} type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <button class="btn btn-primary" onclick="playVid()" type="button">Play Video</button>
    </div>
    <div class="row">
        <div class="row" id="showme" style="display: none">
            <div class="col-sm-3"> What is the value for D1 and D2?</div>
            <div class="col-sm-6">
                <form role="form" action="" method="POST">
                    <input type="text" id="peanuts" name="eatme">
                    <input type="submit" name="submit">
                </form>
            </div>
        </div>
        
    </div>
        

{% endblock %}

{% block app_scripts %}
    <script>
        document.getElementById('video').addEventListener('ended',myHandler,false);
        function myHandler(e) {
        // What you want to do after the event
            $(this).parent().fadeOut();
            $("#showme").show();
        };
        var vid = document.getElementById("video");
        function playVid(){
            vid.play();
        };
    </script>
{% endblock %}