{% extends "base.html" %}

{% block app_content %}
    <h2>Test Exam</h2>
    {% for error in form.errors %}
        <span style="color:red;">[{{ error }}]</span>
    {% endfor %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            
            <div>
                {{ form.q1.label }}
            </div>
            <ol type="A">
                {% for subfield in form.q1 %}
                <li>
                    {{ subfield }}
                    {{ subfield.label }}
                </li>
                {% endfor %}
            </ol>
        </p>
        <p>
            {{ form.q2.label }} {{ form.q2 }}
        </p>
        <p>
            <div>
                {{ form.q3.label }}<br>
                <img src="{{ url_for('static', filename='q17/Q17_Q.png') }}">
            </div>
            <ol type="A">
                {% for subfield in form.q3 %}
                <li>
                    {{ subfield }}
                    {{ subfield.label }}
                </li>
                {% endfor %}
            </ol>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}