{% extends "base.html" %}
{% block app_content %}
    <h1>Edit Exam Questions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Answer</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions.items %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.question }}</td>
                <td align="center">{{ question.answer }}</td>
                <td><a href="{{ url_for('main.edit_exam_question',  question_id=question.id) }}" class="btn btn-primary pull-right">Edit</a></td>
                <td>
                    <form action="{{ url_for('main.delete_question', question_id=question.id) }}" method="POST">
                        <input type="hidden" nanme="_method" value="DELETE">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for page_num in questions.iter_pages(left_edge=1, right_edge=2, left_current=2, right_current=2) %}
        {% if page_num %}
            {% if questions.page == page_num %}
                <a class="btn btn-primary mb-4" href="{{ url_for('main.edit_questions', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-primary mb-4" href="{{ url_for('main.edit_questions', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock %}

{% block app_scripts %}
<script>
    setTimeout(function() {
        $("div[class='alert alert-success']").fadeOut("slow");
    }, 3000);
</script>
{% endblock %}