{% extends "base.html" %}

{% block app_content %}
    <h1 class="h1">
        <p class="text-left">
            <img src="{{ url_for('static', filename='sagf.png') }}">
            {{ q_dict["heading"][progress["q_id"]] }}
        </p>
    </h1>
    <hr>
    <div class="row-fluid text-center" id="video_row">
        <div class="row-fluid">
            <strong><span class="bg-danger" id="vid_status_text">Fetching your video. Please be patient...</span></strong>
        </div>
        <button class="btn btn-lg btn-primary btn-block" onclick="playVid()" type="button" id="play_vid_button" disabled>Click here to play video number {{ progress["v_id"] + 1 }}</button>
        <video oncontextmenu="return false;" preload="auto" id="video" width="auto" height="auto">
            <source src="{{ q_dict['videos'][progress['v_id']] }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="row" id="showme" style="display: none">
                <div class="row-fluid">
                    <span id="countdown"></span>
                </div>
                <form class="form-inline" action="" method="POST" name="form" id="exam">
                    <div class="form-group">
                        <label for="answer">{{ q_dict["questions"][progress["q_id"]] }}</label>
                        <input type="text" id="answer" name="answer" placeholder="Answer" required>
                    </div>    
                        <input type="submit" class="btn btn-sm btn-success" value="Submit" onclick="submitForm()">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block app_scripts %}
    <script src="{{ url_for('static', filename='js/cookiemonster.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exam_util.js') }}"></script>

    <script>
        document.getElementById('video').addEventListener('canplaythrough', canPlayThrough)
        document.getElementById('video').addEventListener('canplay', canPlay);
        document.getElementById('video').addEventListener('pause', function() {console.log("paused");});
        document.getElementById('video').addEventListener('ended',myHandler);

        var vid = document.getElementById("video");
        var vid_button = document.getElementById("play_vid_button");
        var clicked = false;

        function myHandler(e) {
        // What you want to do after the event
            $(this).parent().fadeOut();
            $("#showme").fadeIn();
            //Once the video is played, then the countdown must start
            startCountDown(0,1, true, "exam");
        };

        function playVid(){
            vid.play();
            clicked = true;
            vid_button.innerText="Playing...";
        };

        window.onbeforeunload = function() {
            return true;
        };

        function canPlayThrough(){
            console.log("can play through fired");
            document.getElementById("vid_status_text").innerHTML="Ready...";
            $("#vid_status_text").removeClass().addClass("bg-success");
            document.getElementById("play_vid_button").removeAttribute("disabled");
            if(vid.paused){
                if (clicked){
                    vid.play();
                }
            }
        }

        function canPlay(){
            console.log("Some video loaded")
            document.getElementById("vid_status_text").innerHTML="Busy buffering video. Please be patient...";
            $("#vid_status_text").removeClass().addClass("bg-warning");
            vid.pause();
        }
    </script>
{% endblock %}