{% extends "base.html" %}
{% block page_head %}
<script>
    window.addEventListener("load", function(){
        var load_screen = document.getElementById("load_screen");
        document.getElementById("load_div").removeChild(load_screen);
    });
</script>
{% endblock %}
{% block page_style %}
<style>
    div#load_screen{
        background: #000;
        opacity: 0.9;
        position: fixed;
        z-index: 10;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    div#load_screen > div#loading{
        color: #FFF;
        width: 50%;
        height: 50%;
        margin: auto auto;
        opacity: 1;
    }
</style>
{% endblock %}

{% block app_content %}
    <div id="load_div">
        <div id="load_screen">
            <div id="loading"><img src="{{ url_for('static', filename='circle-loader.gif') }}"></div>
        </div>
    </div>
    
    <div id="timer" class="container">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6"><span class="pull-right">Time left: <span id="countdown"></span></span></div>
        </div>
      </div>
    <h1 class="h1">
        <img src="{{ url_for('static', filename='sagf.png') }}"> 
        <p class="text-center">National Judges Course – Theory Examination</p>
        <hr>
    </h1>
    <form id="exam" action="" method="POST">
        {% for q in questions %}
        <div>
            <strong>Question {{ q["q"] }}</strong><br>
            <p>
                {{ q["q_string"]|safe }}
            </p>
        </div>
        {% if q["type"] == "1" %}
            <div>
                <p>
                A <input type="radio" name="{{ q['q'] }}" value="A"> &nbsp;&nbsp;{{ q['option_a']|safe }}<br>
                B <input type="radio" name="{{ q['q'] }}" value="B"> &nbsp;&nbsp;{{ q['option_b']|safe }}<br>
                C <input type="radio" name="{{ q['q'] }}" value="C"> &nbsp;&nbsp;{{ q['option_c']|safe }}<br>
                D <input type="radio" name="{{ q['q'] }}" value="D"> &nbsp;&nbsp;{{ q['option_d']|safe }}<br>
                </p>
            </div>
            <br>
        {% elif q["type"] == "2" %}
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        {% for i in q["attributes"]["header"] %}
                            <th>
                                <img src="{{ i }}">
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            A <input type="radio" name="{{ q['q'] }}" value="A">
                        </td>
                        {% for i in q["attributes"]["radio1"] %}
                            <td>
                                <img src="{{ i }}">
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            B <input type="radio" name="{{ q['q'] }}" value="B">
                        </td>
                        {% for i in q["attributes"]["radio2"] %}
                            <td>
                                <img src="{{ i }}">
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            C <input type="radio" name="{{ q['q'] }}" value="C">
                        </td>
                        {% for i in q["attributes"]["radio3"] %}
                            <td>
                                <img src="{{ i }}">
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            D <input type="radio" name="{{ q['q'] }}" value="D">
                        </td>
                        {% for i in q["attributes"]["radio4"] %}
                            <td>
                                <img src="{{ i }}">
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            {% elif q["type"] == "3" %}
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        {% for i in q["images"] %}
                            <th>
                                <img src="{{ i }}">
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            A <input type="radio" name="{{ q['q'] }}" value="A">
                        </td>
                        {% for i in q["option_a"] %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            B <input type="radio" name="{{ q['q'] }}" value="B">
                        </td>
                        {% for i in q["option_b"] %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            C <input type="radio" name="{{ q['q'] }}" value="C">
                        </td>
                        {% for i in q["option_c"] %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>
                            D <input type="radio" name="{{ q['q'] }}" value="D">
                        </td>
                        {% for i in q["option_d"] %}
                            <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                </table>
        {% elif q["type"] == "4" %}
            <div>
                <table class="table table-bordered">
                    <tr>
                        <td style="text-align:center; width: 5%">
                            A <input type="radio" name="{{ q['q'] }}" value="A">
                        </td>
                        <td>
                            <img src="{{ q['attributes']['radio1_image'] }}">&nbsp;{{ q["attributes"]["radio1_text"] }}
                        </td>
                        <td rowspan="4" style="vertical-align:middle"><img src="{{ q['attributes']['question_image'] }}""></td>
                    </tr>
                    <tr>
                        <td style="text-align:center; width: 5%">
                            B <input type="radio" name="{{ q['q'] }}" value="B">
                        </td>
                        <td>
                            <img src="{{ q['attributes']['radio2_image'] }}">&nbsp;{{ q["attributes"]["radio2_text"]}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; width: 5%">
                            C <input type="radio" name="{{ q['q'] }}" value="C">
                        </td>
                        <td>
                            <img src="{{ q['attributes']['radio3_image'] }}">&nbsp;{{ q["attributes"]["radio3_text"]}}
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center; width: 5%">
                            D <input type="radio" name="{{ q['q'] }}" value="D">
                        </td>
                        <td>
                            <img src="{{ q['attributes']['radio4_image'] }}">&nbsp;{{ q["attributes"]["radio4_text"]}}
                        </td>
                    </tr>
                </table>
            </div>
        {% elif q["type"] == "5" %}
            <div>
                    A <input type="radio" name="{{ q['q'] }}" value="A"> <img src="{{ q['attributes']['radio1_image'] }}">&nbsp;{{ q["attributes"]["radio1_text"] | safe}}<br>
                    B <input type="radio" name="{{ q['q'] }}" value="B"> <img src="{{ q['attributes']['radio2_image'] }}">&nbsp;{{ q["attributes"]["radio2_text"] | safe}}<br>
                    C <input type="radio" name="{{ q['q'] }}" value="C"> <img src="{{ q['attributes']['radio3_image'] }}">&nbsp;{{ q["attributes"]["radio3_text"] | safe}}<br>
                    D <input type="radio" name="{{ q['q'] }}" value="D"> <img src="{{ q['attributes']['radio4_image'] }}">&nbsp;{{ q["attributes"]["radio4_text"] | safe}}<br><br>
            </div>
        {% endif %}
        {% endfor %}
        <span class="border">
            <input type="submit" class="btn btn-success" onclick="submitForm()" name="btnsubmit" value="submit">
        </span>
               
        
    </form>
{% endblock %}
{% block app_scripts %}
    <script src="{{ url_for('static', filename='js/cookiemonster.js') }}"></script>
    <script>
    //     $('#exam').submit(function(){
    //    //result = "success";
    //         var i = 0;
    //         $(":radio:checked").each(function(){
    //             i++;
    //         });
    //         if(i != 1){
    //             alert(85 - i + " questions not answered");
    //             return false;
    //         }
    //         return true;
    //     });

    function submitOnExpire(){
        var frm = document.getElementById("exam");
        frm.submit();
    }

    // $(document).ready(function(){
    //     startCountDown(0,1,true);
    // })

    // Set the date we're counting down to	
    var stop_at = new Date();
    stop_at.setHours(stop_at.getHours() + 2);
    stop_at.setMinutes(stop_at.getMinutes() + 1);

    // Update the count down every 5 second
    var x = setInterval(function() {
        var now = new Date();
        
        var distance = stop_at.getTime() - now.getTime();
            
        // Time calculations for days, hours, minutes and seconds
        //var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        document.getElementById("countdown").innerHTML = hours + "h "
        + minutes + "m "// + seconds + "s ";
            
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            window.onbeforeunload = null;
            document.getElementById("demo").innerHTML = "Times UP!";
            submitOnExpire();
            }
        }, 5000);

        window.onbeforeunload = function() {
            return true;
        };

        function submitForm(){
            window.onbeforeunload = null;
            //expire the cookie so that we don't get an exception on POST
            setCookie("theory_loaded", "0", 0);
            //setCookie("theory_taken",true) //session cookie
            document.getElementById("exam").submit();
        };
        
        window.onscroll = function() {stickyScroll()};

        // Get the navbar
        var navbar = document.getElementById("timer");

        // Get the offset position of the navbar
        var sticky = navbar.offsetTop;

        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
        function stickyScroll() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky");
        } else {
            navbar.classList.remove("sticky");
            }
        }
        </script>
{% endblock %}