DATABASE_URL=sqlite+aiosqlite:///./fastapi_backend/rhytmic.db
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
RESET_TOKEN_EXPIRE_SECONDS=5400
DISABLE_EXAM_DATE=true

MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SENDER=no-reply.rhytmic_exam.co.za
MAIL_USE_TLS=true
ADMINS=admin@example.com
